<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bareform | Products</title>
    <link rel="stylesheet" href="styles.css" />
</head>
<body>
    <nav>
        <ul class="navlinks">
            <li><a href="index.html">Home</a></li>
            <li><a href="products.html">Products</a></li>
        </ul>
        <ul id="login">
            <li><a href="login.html">Login</a></li>
        </ul>
    </nav>
    <main>
        <h2>Our Collection</h2>
        {%for product in products%}
            <div class="product">
                <div><img src= "{{url_for('static',filename='Images/' + product.image_url)}}" width = "256"></div>
                <hr>
                <div class="producttext"><p>{{product.name}}</p></div>
            </div>
        {%endfor%}
    </main>
</body>
</html>